alias itsmine="sudo chown -R $USER:$USER ."
alias kubectl-disconnect="kubectl config unset current-context"
alias socks-tunnel="ssh -D 9000 root@server"
alias tfmt="terraform fmt"
alias tfsw="tfswitch --bin=$LOCAL_BIN"
