pyclean() {
    # Clears all Python cache files:
    # *.pyc
    # *.pyo
    # __pycache__
    sudo find . -type f -name '*.py[co]' -delete -o -type d -name __pycache__ -delete
}

__start_ssh_agent() {
    # Injects SSH Agent for WSL 2 distros
    if [[ -n "$SSH_AGENT_PID" ]]; then
        current_agent=$(pgrep -f ssh-agent)
        if [[ "$current_agent" = "$SSH_AGENT_PID" ]]; then
            return
        fi
    fi

    source_file=/tmp/ssh-agent-source-file
    if [[ -f "$source_file" ]]; then
        source $source_file >/dev/null 2>&1
        current_agent=$(pgrep -f ssh-agent)
        if [[ "$current_agent" = "$SSH_AGENT_PID" ]]; then
            return
        fi
    fi

    ssh-agent -s >$source_file
    source $source_file >/dev/null 2>&1
}

